.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

.counter-container h1{
    font-size: 50px;
    font-weight: 900;
}

.counter-button{
    display: flex;
    flex-direction: row;
    margin: 20px;
    
}

button{
    background-color: rgb(110, 110, 160);
    color: white;
    border: none;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: 300px;
    

}